@keyframes size-animation {
    0% {scale: 1}
    50% {scale: 0.8}
    100% {scale: 1}
}
.search-icon,
.engine-icon {
    position: absolute;
    opacity: 0;
    height: 42px;
    width: 42px;
    transition: .2s;
    transition-delay: .05s;
    cursor: pointer;
}
.engine-icon {left: 2px}
.search-icon {right: 2px}
.engine-icon svg {fill: #fff}

.engine-icon svg,
.search-icon svg {
    width: 30px;
    height: 30px;
    padding: 6px;
    margin: 6px;
    border-radius: 50%;
    background: rgba(0,0,0,.2);
    transition: .25s ease;
}

.engine-icon:active svg,
.search-icon:active svg {
    background: rgba(0,0,0,.4);
    scale: 0.8;
}

.engine-icon.clicked {
    animation: size-animation .25s ease;
}

.engine-icon.focus,
.search-icon.focus {
    opacity: 1;
}

.engine .icon svg {
    margin: 0 4px;
    transform: translateY(2px);
    width: 26px;
    height: 26px;
    fill: #fff;
    border-radius: 6px;
    transition: .25s;
}

.engine .check path {
    stroke: #58a6ff !important;
}
